<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}出席確認アプリ{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>

<nav>
    <ul>
        <li><a href="{{ url_for('write.write') }}">書き込み</a></li>
        <li><a href="{{ url_for('today.today') }}">本日の欠席・欠課</a></li>
        <li><a href="{{ url_for('other_date.other_date') }}">別日の欠席・欠課</a></li>
        <li><a href="{{ url_for('undelivered.undelivered') }}">
            書類未提出一覧</a></li>
        <li><a href="{{ url_for('range.view_range') }}">
            指定期間の欠席・欠課</a></li>
    </ul>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>