{% extends "base.html" %}
{% block title %}欠席・欠課情報入力{% endblock %}

{% block content %}
<h2>欠席・欠課情報入力</h2>

<form method="post">
    <label style="font-weight: bold; font-size: 1.2em;">日時：
        <input type="date" name="date" value="{{ request.form.get('date', '') }}" required style="border: 2px solid #007BFF; background-color: #E9F5FF; padding: 5px;">
    </label><br><br>

    <label>所属教室：
        <select name="classroom">
            <option value="第1教室">第1教室</option>
            <option value="第2教室">第2教室</option>
            <option value="第3教室">第3教室</option>
            <option value="第4教室">第4教室</option>
            <option value="第5教室">第5教室</option>
        </select>
    </label><br><br>

    <label>名前：
        <input type="text" name="name">
    </label><br><br>

    <div style="margin-top: 10px;">
        <label for="reason">事由：
        </label>
        <textarea name="reason" rows="3" cols="40"></textarea>
    </div><br><br>

    <button type="submit" class="big-button">登録</button>
</form>
{% endblock %}